<template>
  <div>
    <div id="app" class="overflow-hidden pb-6">
      <VueLoadingIndicator v-if="settings.loading" class="overlay big" />
      <div v-else>
        <Nav />
        <router-view :key="$route.path" />
      </div>
    </div>
    <div class="background2">
    <iframe height="265" style="width: 100%;height:calc(100% + 52px);" scrolling="no" title="Wet Clay" src="https://codepen.io/seanfree/embed/yLyBWVW?height=265&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
  See the Pen <a href='https://codepen.io/seanfree/pen/yLyBWVW'>Wet Clay</a> by Sean Free
  (<a href='https://codepen.io/seanfree'>@seanfree</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe></div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState(['settings'])
  },
  methods: {
    ...mapActions(['init'])
  },
  async created() {
    this.init();
  }
};
</script>
